.access-button {
  position: absolute;
  left: 0;
  top:  var(--nav-height);
  padding: 0.5rem;
  padding-right: 1.5rem;
  gap: 1rem;
  border-radius: 0 2rem 2rem 0;
  background-color: var(--button-background);
  box-shadow: 0 2px 8px 0 #00000040;

  > span {
    color: var(--button-text);
    font-weight: bold;
  }

  > i::after {
    content: 'accessibility';
    font-size: 40px;
  }
}
@media (max-width: 1000px) {
  .access-button > span {
    display: none;
  }
}

.access-menu {
  --width: clamp(0px, 500px, 100%);
  display: flex;
  flex-direction: column;
  position: fixed;
  left: calc(100% - var(--width));
  top:  0;
  width: var(--width);
  height: 100%;
  padding: 2rem;
  gap: 2rem;
  border: none;
  background-color: var(--background);
  box-shadow: 2px 0 10px 0 #00000060;
  color: var(--text-primary);
  transition:
    left 0.4s ease,
    box-shadow 0.4s ease;

  &:not(:popover-open) {
    left: 100%;
    box-shadow: none;

    > * {
      visibility: hidden;
      transition: visibility 0.4s linear;
    }
  }
}

.access-item {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  border-radius: 10px;
  border: 2px solid #ffffff40;

  > span {
    flex-shrink: 0;
    margin-right: auto;
    max-width: 50%;
    font-size: var(--paragraph-font-size);
  }

  > button,
  > label {
    flex-shrink: 0;
    width:  3rem;
    height: 3rem;

    > i {
      font-size: 3rem;
    }
    &:has(input) > i::after {
      content: 'toggle_off';
    }
    &:has(input:checked) > i::after {
      content: 'toggle_on';
      color: var(--highlight-color);
      font-variation-settings: 'FILL' 1;
    }
  }
}
.access-item:first-of-type {
  align-items: center;
  border: none;

  > h2 {
    margin-right: auto;
    color: var(--highlight-color);
  }

  > .button {
    flex-shrink: 0;
    padding: 0rem;
    border-radius: 10px;
  }
}


:root.high-contrast {
  --background: black;
}