.agenda-item {
    border: 2px solid var(--highlight-color);
    border-radius: .5rem;
    padding: .5rem .5rem;

}

.agenda-item__day {
    background: var(--highlight-color);
    color: var(--background);
    padding: 1rem .5rem;
}

.agenda-item__month {
    border-inline-end: 2px solid var(--highlight-color);
    padding-inline: .5rem;
}

.agenda-item__date {
    display: flex;
    align-items: center;
    border: 2px solid var(--highlight-color);
    border-radius: .5rem;
    overflow: hidden;
}