.viziere-section h1 {
    text-align: center;
    margin-bottom: 80px;
}

.viziere-text {
    max-width: 700px;
    margin-top: 50px;
    margin: auto;
}

.viziere-text p {
    margin-bottom: 30px;
}

.viziere-text strong {
    font-size: 2rem;
    color: var(--highlight-color);
}