@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url('/fonts/MaterialSymbolsOutlined.woff2') format('woff2');
}

.material-icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  pointer-events: none;
  user-select: none;
}

label:has(> .material-icon),
button:has(> .material-icon) {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  &:focus-visible,
  &:has(:focus-visible) {
    outline: auto;
  }

  > input {
    all: unset;
    position: absolute;
  }
}