@import url(icons.css);

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: bold;
    src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: 100;
    src: url('/fonts/NotoSans-Light.ttf') format('truetype');
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*Colors:*/
    --background: #2F3742;
    --primary-color: #FFFFFF;
    --highlight-color: #FAEA07;
    --secondary-color: #000000;
    --logo-color: #FF0000;

    --text-primary: var(--primary-color);
    --text-highlight: var(--highlight-color);
    --button-background: var(--highlight-color);
    --button-text: var(--secondary-color);

    /*Typography:*/
    --primary-font: "Noto sans", sans-serif;
    --small-heading-font-size: 1.5rem;
    --heading-font-size: 2rem;
    --title-font-size: 4rem;
    --paragraph-font-size: 1.5rem;

    /*Borders*/
    --container-radius: 16px;
    --button-radius: 999px;

    /*Metrics*/
    --nav-height: 100px;
    --access-button-height: 3.5rem;
}

html {
    height: 100%;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

body, h1, h2, p, a {
    font-family: var(--primary-font);
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background);
}

h1 {
    color: var(--text-primary);
    font-size: var(--title-font-size);
}

h2 {
    color: var(--text-primary);
    font-size: var(--heading-font-size);
}

h3 {
    color: var(--text-highlight);
    font-size: var(--small-heading-font-size);
    font-weight: bold;
}

p, label, span {
    color: var(--text-primary);
    font-size: var(--paragraph-font-size);
}

strong {
    color: var(--highlight-color);
}

a {
    color: var(--text-primary);
}

details {

    > summary {
        font-size: var(--paragraph-font-size);
        color: var(--text-primary);
        list-style: none;
    }
    &:not([open]) > summary {
        text-decoration: underline;
        cursor: pointer;
    }
}

input, textarea {
    color: var(--secondary-color);
    font-size: var(--paragraph-font-size);
    border-radius: .5rem;
    resize: none;
}

.button {
    background-color: var(--highlight-color);
    color: var(--button-text);
    border: none;
    padding: 1rem;
    font-size: var(--paragraph-font-size);
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color .3s linear;
}

    /* focus styling  */
.button:focus-visible {
    outline: 3px solid var(--highlight-color); /*Als de anchor positioning niet werkt blijft de gebruiker toch een focusrand zien.*/
    outline-offset: 5px;
    border-radius: 4px;
    box-shadow:
            0 0 0 6px rgba(250, 234, 7, 0.2),
            0 0 12px rgba(250, 234, 7, 0.15);
    transition: outline-offset 0.1s ease, box-shadow 0.1s ease;
}

    /* Verwijder de standaard outline zodat alleen onze stijl zichtbaar is */
.button:focus:not(:focus-visible) {
        outline: none;
    }

/*Element met focus heet tijdelijk --focus-anchor*/
.button:focus-visible, a:focus-visible {
    anchor-name: --focus-anchor;
}

/*Beweegt indicator naar volgend element met tab*/
.focus-indicator {
    position: fixed;
    position-anchor: --focus-anchor;

    left: anchor(left);
    top: anchor(top);
    width: anchor-size(width);
    height: anchor-size(height);

    border: 3px solid var(--highlight-color);
    border-radius: 10px;
    pointer-events: none;

    transition:
        left 0.3s ease,
        top 0.3s ease,
        width 0.3s ease,
        height 0.3s ease;
}