@import url(icons.css);

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: bold;
    src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: 100;
    src: url('/fonts/NotoSans-Light.ttf') format('truetype');
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*Colors:*/
    --background: #2F3742;
    --primary-color: #FFFFFF;
    --highlight-color: #FAEA07;
    --secondary-color: #000000;
    --logo-color: #FF0000;

    --text-primary: var(--primary-color);
    --text-highlight: var(--highlight-color);
    --button-background: var(--highlight-color);
    --button-text: var(--secondary-color);

    /*Typography:*/
    --primary-font: "Noto sans", sans-serif;
    --small-heading-font-size: 1.75rem;
    --heading-font-size: 2rem;
    --title-font-size: 4rem;
    --paragraph-font-size: 1.5rem;

    /*Metrics*/
    --nav-height: 100px;
    --access-button-height: 3.5rem;
}

html {
    height: 100%;
}

body, h1, h2, p, a {
    font-family: var(--primary-font);
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background);
}

h1 {
    color: var(--text-primary);
    font-size: var(--title-font-size);
}

h2 {
    color: var(--text-primary);
    font-size: var(--heading-font-size);
}

h3 {
    color: var(--text-primary);
    font-size: var(--small-heading-font-size);
    font-weight: bold;
}

p, label, span, details, summary {
    color: var(--text-primary);
    font-size: var(--paragraph-font-size);
}

strong {
    color: var(--highlight-color);
}

a {
    color: var(--text-primary);

    &:hover {
        cursor: pointer;
    }
}

input, textarea {
    color: var(--secondary-color);
    font-size: var(--paragraph-font-size);
    border-radius: .5rem;
    resize: none;
}

.page {
    width: 80dvw;
    margin: auto;
    height: auto;

    @media (max-width: 768px) {
        width: 90dvw;
    }
}