 /* navbar */
body > header {
  width: 100%;
  background-color: var(--background);
}

body > header > nav {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  gap: 2rem;

  background-color: var(--background);
}

/* logo */
body > header > nav > .logo {
  flex-shrink: 0;
  height: 4rem;
}

body > header > nav > .logo > img {
  display: block;
  height: 100%;
}

/* menu */
body > header > nav > .mobile-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* links */
body > header > nav > .mobile-menu > a {
  color: var(--text-primary);
  font-size: var(--paragraph-font-size);
  font-weight: bold;
  text-decoration: none;
}

body > header > nav > .mobile-menu > a:hover {
  text-decoration: underline;
}

/* button */
body > header > nav > .mobile-menu > .button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--logo-color);
  border: 2px solid #ffffff60;

  color: var(--text-primary);
}

body > header > nav > .mobile-menu > .button:hover,
body > header > nav > .mobile-menu > .button:focus-visible {
  background-color: var(--button-background);
  color: var(--secondary-color);
  text-decoration: none;
}

/* hamburger */
body > header > nav > .hamburger {
  display: none;

  align-items: center;
  justify-content: center;

  width: 3rem;
  aspect-ratio: 1;

  flex-shrink: 0;

  cursor: pointer;
  color: white;
  font-size: 40px;

  z-index: 10;
}

body > header > nav > .hamburger > input {
  display: none;
}

body > header > nav > .hamburger > i::after {
  content: 'menu';
}

body > header > nav > .hamburger:has(input:checked) > i::after {
  content: 'close';
}

/* mobile */
@media (max-width: 700px) {

  body > header > nav > .hamburger {
    display: flex;
  }

  body > header > nav > .mobile-menu {
    position: fixed;

    inset: 0;

    padding:
      calc(4rem + 2rem)
      2rem
      2rem;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    background-color: var(--background);

    transform: translateX(100%);
    transition: transform 0.3s ease;

    z-index: 5;
  }

  body > header > nav:has(.hamburger input:checked) > .mobile-menu {
    transform: translateX(0);
  }
}