@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: bold;
    src: url('/assets/fonts/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: lighter;
    src: url('/assets/fonts/NotoSans-Light.ttf') format('truetype');
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*Colors:*/
    --background: #2F3742;
    --primary-color: #FFFFFF;
    --highlight-color: #FAEA07;
    --secondary-color: #000000;

    --text-primary: var(--primary-color);
    --text-hightligt: var(--highlight-color);
    --button-background: var(--highlight-color);
    --button-text: var(--secondary-color);

    /*Typografie:*/
    --primary-font: "Noto sans", sans-serif;
    --heading-font-size: 2rem;
    --title-font-size: 4rem;
    --paragraph-font-size: 1.5rem;
}

body {
    background-color: var(--background);
}

h1 {
    color: var(--text-primary);
    font-size: var(--title-font-size);
}

h2 {
    color: var(--text-primary);
    font-size: var(--heading-font-size);
}

p {
    color: var(--text-primary);
    font-size: var(--paragraph-font-size);
}