@import url(nav.css);

@font-face {
    font-family: 'Noto Sans';
    src: url('/assets/fonts/NotoSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: bold;
    src: url('/assets/fonts/NotoSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: lighter;
    src: url('/assets/fonts/NotoSans-Light.ttf') format('truetype');
}

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*Colors:*/
    --background: #2F3742;
    --primary-color: #FFFFFF;
    --highlight-color: #FAEA07;
    --secondary-color: #000000;
    --logo-color: #FF0000;

    --text-primary: var(--primary-color);
    --text-hightlight: var(--highlight-color);
    --button-background: var(--highlight-color);
    --button-text: var(--secondary-color);

    /*Typografie:*/
    --primary-font: "Noto sans", sans-serif;
    --small-heading-font-size: 1.5rem;
    --heading-font-size: 2rem;
    --title-font-size: 4rem;
    --paragraph-font-size: 1.5rem;
}

body, h1, h2, p, a {
    font-family: var(--primary-font);
}

body {
    background-color: var(--background);
}

h1 {
    color: var(--text-primary);
    font-size: var(--title-font-size);
}

h2 {
    color: var(--text-primary);
    font-size: var(--heading-font-size);
}

h3 {
    color: var(--text-primary);
    font-size: var(--paragraph-font-size);
    font-weight: bold;
}

p, label {
    color: var(--text-primary);
    font-size: var(--paragraph-font-size);
}

a {
    color: var(--text-primary);
}

input, textarea {
    color: var(--secondary-color);
    font-size: var(--paragraph-font-size);
    border-radius: .5rem;
    resize: none;
}

.button {
    background-color: var(--highlight-color);
    color: var(--button-text-primary);
    border: none;
    padding: 1rem;
    font-size: var(--paragraph-font-size);
    border-radius: 1.5rem;
    cursor: pointer;
    transition: background-color .3s linear;

  /* focus styling  */
  :focus-visible {
    outline: 3px solid var(--highlight-color);
    outline-offset: 5px;
    border-radius: 4px;
    box-shadow:
      0 0 0 6px rgba(250, 234, 7, 0.2),
      0 0 12px rgba(250, 234, 7, 0.15);
    transition: outline-offset 0.1s ease, box-shadow 0.1s ease;
  }

  /* Verwijder de standaard outline zodat alleen onze stijl zichtbaar is */
  :focus:not(:focus-visible) {
    outline: none;
  }
}