/* navbar */
body > header > nav {
  overflow-x: auto;
  overflow-y: hidden;
  transition: box-shadow 0.1s ease;
}

body > header,
body > header > nav,
body > header > nav > .mobile-menu {
  flex: 1;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  height: var(--nav-height);
  gap: 2rem;

  > .logo {
    height: 4rem;

    > img {
      height: 100%;
    }
  }

  > .hamburger {
    flex-shrink: 0;
    display: none;
    width:  3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--text-primary);
    font-size: var(--paragraph-font-size);
    font-weight: bold;

    > i::after {
      content: 'menu';
      font-size: 40px;
    }
    &:has(> :checked) > i::after {
      content: 'close';
    }
  }

  > .mobile-menu {
    flex-shrink: 0;
    margin-right: auto;
  }
}
body:has(> header)::before {
  content: '';
  margin-top: var(--nav-height);
}
