.link {
    flex-shrink: 0;
    width: fit-content;
    color: var(--text-primary);
    font-size: var(--paragraph-font-size);
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }

    &.active {
        color: var(--highlight-color);
        text-decoration: underline;
    }
}